/* make sizing predictable and include borders in measurements */
* {
    box-sizing: border-box;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    margin: 0;
}

.container {
    /* https://x.com/i/grok?conversation=2000403646123528263 */
    /* border: 2px solid black; */
    width: 500px;
    height: 500px;
    overflow: hidden;
    position: relative;
}

.carousel {
    display: flex;
    width: 2500px; /* 5 * 500 */
    height: 500px;
    transform: translateZ(0); /* promote to its own layer to reduce jitter */
    position: relative;
    /* transform: translateX(0); Initial position */
    transition: transform 0.6s ease; /* Smooth animation */
}

.carousel > div {
    flex: 0 0 500px; /* fixed panel width, avoids rounding/layout shifts */
    height: 500px;
    display: flex;
    justify-content: center;
    align-items: center;
    user-select: none;
}

.img1 {
    background-color: rgb(230, 33, 33);
}

.img2 {
    background-color: aqua;
}

.img3 {
    background-color: rgb(204, 223, 82);
}

.img4 {
    background-color: gray;
}

.img5 {
    background-color: rgb(90, 90, 241);
}

.dots-container {
    display: flex;
    justify-content: space-between;
    width: 60px;

    user-select: none;
    position: absolute;
    left: 50%;
    bottom: 10%;
    transform: translateX(-50%);
    z-index: 10;

}

.dots-container > div {
    height: 7px;
    width: 7px;
    background-color: white;
    opacity: 0.4;
    border-radius: 50%;
    cursor: pointer;
    box-shadow: 2px 2px 8px rgb(63, 63, 63);

}

.back-button {
    user-select: none;
    position: absolute;
    left: 5%;
    top: 50%;

    font-size: 3rem;
    color: white;
    opacity: .4;
    text-shadow: 2px 2px 5px rgb(63, 63, 63);
    cursor: pointer;

    transform: translateY(-50%);
    z-index: 10;
}

.back-button:hover {
    opacity: 100%;;
}

.forward-button {
    user-select: none;
    position: absolute;
    right: 5%;
    top: 50%;

    font-size: 3rem;
    color: white;
    opacity: 0.4;
    text-shadow: 2px 2px 5px rgb(63, 63, 63);
    cursor: pointer;

    transform: translateY(-50%);
    z-index: 10;
}

.forward-button:hover {
    opacity: 100%;
}
